<!DOCTYPE html>
<html>



    
    
	
    <!-- 
    <div class="w3-display-container w3-center" >
        <img src="path_to_instagram_logo.png" alt="Instagram" style="width: 30px; height: 30px; position: absolute; top: 10px;  transform: translateX(-50%); filter: grayscale(100%);">
    </div>Instagram Logo Section -->

<footer class="w3-center w3-black ">

<div style="background-image: url('img/footer.png'); min-height: 600px; background-repeat: no-repeat; background-size: cover;" class="w3-display-container">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">BOOK APPOINTMENT</span>
        <p class="w3-text-white w3-center" style="text-align: center; margin-top:20px; font-size: 14px!important;">
		To book an in-person consultation, enter your details below, and our practice management team will contact you to schedule the appointment.        </p>

        <!--<form id="appointmentForm" action="https://www.radiologytemplates.org/send_email_ali" method="post" class="w3-center" style="margin-top:32px; font-size: 12px">-->
        
        <form id="appointmentForm" 
        class="w3-center" style="margin-top:32px; font-size: 12px">
        
            <div class="form-group" style="margin-bottom: 5px; ">
                <input type="text" class="w3-input " name="contact-name" placeholder="Your name" required style="background-color: rgba(255, 255, 255, 1);  border-radius: 0; ">
            </div>
            <div class="form-group" style="margin-bottom: 5px;">
                <input type="tel" class="w3-input " name="contact-tel" placeholder="Your telephone number" required style="background-color: rgba(255, 255, 255, 1); border-radius: 0; color: black">
            </div>
            <div class="form-group" style="margin-bottom: 5px;">
                <input type="email" class="w3-input " name="contact-email" placeholder="Your email" required style="background-color: rgba(255, 255, 255, 1); border-radius: 0; ">
            </div>
            <div class="form-group" style="margin-bottom: 5px; ">
                <select class="w3-select" name="contact-hear-about" required style=" background-color: rgba(255, 255, 255, 1); border-radius: 0; -webkit-appearance: none; height: 40px; color: gray; padding-left:10px">
                    <option value="" disabled selected>How did you hear about us?</option>
                    <option value="medical-insurance">Medical Insurance Company</option>
                    <option value="media">National newspaper / magazine</option>
                    <option value="instagram">Instagram</option>
                    <option value="google-ads">Google Ads</option>
                    <option value="other">Other</option>
                    <option value="referral">Referral from another doctor</option>
                </select>
            </div>
            <button id="submitBtn" class="w3-button w3-padding-large w3-light-grey" style="margin-top:32px" onclick="
        
            event.preventDefault();
            var form = document.getElementById('appointmentForm');

            var formData = new FormData(form);
            if (form.checkValidity()) {
           
                fetch('https://www.radiologytemplates.org/send_email_ali', {
                method: 'POST',
                body: formData
                })
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Server returned an error response');
                    }
                })
                .then(responseText => {
                    // Replace the form with the thank you message
                    document.getElementById('appointmentForm').innerHTML = '<div ><h3>Thank you, your request is submitted</h3></div>';
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                }); 
             }
             else
             {
             alert('Please fill in all parts of the form before submitting. ')
             }


        " 
            
            ">BOOK CONSULTATION</button>
        </form>
    </div>
</div>



    <!-- Footer Links -->
    <div class="w3-row w3-padding-32" style="max-width: 500px; margin: auto;">
        <div class="w3-col s4 w3-center">
            <a href="CONTACT_US.html" class="w3-text-white" style="text-decoration: none; font-size: 12px;">CONTACT US</a>
        </div>
        <div class="w3-col s4 w3-center">
            <a href="TERMS_AND_CONDITIONS.html" class="w3-text-white" style="text-decoration: none; font-size: 12px;">TERMS AND CONDITIONS</a>
        </div>
        <div class="w3-col s4 w3-center">
            <a href="CANCELLATIONS.html" class="w3-text-white" style="text-decoration: none; font-size: 12px;">CANCELLATIONS</a>
        </div>
    </div>

    <!-- Dark Gray Section -->
    <div style="background-color: rgb(21, 21, 21); border-top: 2px solid rgb(42, 42, 42);">
        <p class="w3-small w3-center" style="margin: 0; padding: 20px; color:white;">© 2024 Dr Jeremy Lynch</p>
    </div>
</footer>

</html>
