<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jeremy Lynch Neuroradiology | Expert Interventional Neuroradiology in London</title>
  <meta name="description" content="Jeremy Lynch Neuroradiology in London specializes in advanced interventional neuroradiology treatments. Personalised and professional consultations and care.">
  <meta name="keywords" content="Jeremy Lynch Neuroradiology, Interventional Neuroradiology London, Neurointervention, Brain Aneurysm Treatment, Stroke Treatment, London Neuroradiology">
  <meta name="author" content="Jeremy Lynch Neuroradiology">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="css/w3.css">
  <link rel="stylesheet" href="css/main.css">
  <style>
    /* Flex layout for main content and article links */

  </style>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="icon" href="/path/to/favicon.ico" type="image/x-icon">
  <link rel="canonical" href="https://www.drjeremylynch.com">
  <meta property="og:title" content="Jeremy Lynch Neuroradiology | Expert Interventional Neuroradiology in London">
  <meta property="og:description" content="Jeremy Lynch Neuroradiology in London specializes in advanced interventional neuroradiology treatments. Personalized and professional consultations and care.">
  <meta property="og:image" content="https://www.drjeremylynch.com/images/social-image.jpg">
  <meta property="og:url" content="https://www.drjeremylynch.com">
  <meta name="twitter:card" content="summary_large_image">
  <script src="js/w3.js"></script>
</head>
<body>

<!-- Navbar -->
<style>


</style>

<nav class="navbar-knowledge">
  <div class="brand"><a href="index.html">Dr Jeremy Lynch</a></div>
  <ul class="nav-links">
    <li><a href="#book">Book appointment</a></li>
  </ul>
</nav>


<div style="padding-top:64px">
  <div class="w3-content w3-container w3-padding-large">
    <div class="content-wrapper">
      <!-- Main Content -->
      <div class="main-content">
        $body$
      </div>
      <!-- Article Links -->
      <div class="article-links">
        <h4>RELATED ARTICLES</h4>
        <ul>
          $for(links)$
          <li><a href="$links.url$">$links.text$</a></li>
          $endfor$
        </ul>
      </div>
    </div>
  </div>
</div>

$footer$

<script src="js/main.js"></script>
</body>
</html>
